/*---------------------------------------
   | Navigation |
----------------------------------------*/
#header{
   padding-left: 0px;
   padding-right: 0px;
}
body #header nav{
   background-color: rgba(0, 0, 0, 0)!important;
}
/* #header nav img{
   width:50px;
   height:50px;
} */
#header nav.navbar a{
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   letter-spacing: 3px;
   color:white;
}
#header_carousel h3{
   font-family: 'Montserrat', sans-serif;
}
#header_carousel p{
   font-family: 'Montserrat', sans-serif;
}
#header_carousel img{
   width:100%;
   max-height: 650px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
#header_carousel .carousel-item::before{
   content: '';
   background-color: rgba(0, 0, 0, 0.7);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
}

/*---------------------------------------
   | Services |
----------------------------------------*/
#services{
   padding-top: 80px;
   padding-bottom: 80px;
}
#services_header{
   margin-bottom: 25px;
   border-bottom: 2px solid black;
}
#services_header h1{
   font-family: 'Montserrat', sans-serif;
}
#services_header p{
   font-family: 'Montserrat', sans-serif;
}
#services_content h5{
   font-family: 'Montserrat', sans-serif;
   margin-top: 10px;
}
#services_content p{
   font-family: 'Montserrat', sans-serif;
   text-align: justify;
}

/*---------------------------------------
   | Portfolio |
----------------------------------------*/
#portfolio{
   padding-top: 80px;
   padding-bottom: 80px;
}
#portfolio img{
   width:100%;
}
#portfolio_header{
   margin-bottom: 25px;
}
#portfolio_header h1{
   font-family: 'Montserrat', sans-serif;
   border-bottom: 2px solid black;
}

/*---------------------------------------
   | Pricing |
----------------------------------------*/
#pricing{
   padding-top: 80px;
   padding-bottom: 80px;
}
#pricing_header{
   border-bottom: 2px solid black;
   margin-bottom: 30px;
}
#pricing_header h1{
   font-family: 'Montserrat', sans-serif;
}
#pricing_content h3{
   font-family: 'Montserrat', sans-serif;
}
#pricing_content p{
   font-family: 'Montserrat', sans-serif;
}
#pricing_content li{
   font-family: 'Montserrat', sans-serif;
}
#pricing_content a{
   font-family: 'Montserrat', sans-serif;
}

/*---------------------------------------
   | Contact |
----------------------------------------*/
#contact{
   padding-top: 80px;
   padding-bottom: 80px;
}
#contact_header{
   margin-bottom: 20px;
}
#contact_header h1{
   font-family: 'Montserrat', sans-serif;
}
#contact_header h5{
   font-family: 'Montserrat', sans-serif;
}
#contact_content form{
   font-family: 'Montserrat', sans-serif;
}
#contact_content .col-8{
   border-top: 1px solid black;
   padding-top: 25px;
}

/*---------------------------------------
   | Footer |
----------------------------------------*/
footer{
   background-color: #50a3cf;
   padding-top: 20px;
   padding-bottom: 5px;
   color:white;
}
footer p{
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
}
