html,body{
   width: 100%;
   height:100%;
}



@media screen and (max-width: 415px){
   html,body{
      width:100%;
      height:100%;
      /* padding:none;
      margin:none; */
   }
}

/*---------------------------------------
   | Navigation |
----------------------------------------*/
#navigation{
   padding-left: 0px;
   padding-right: 0px;
}
#navigation li{
   padding-right: 10px;
   padding-left: 10px;
}
#navigation h1{
   font-family: 'Montserrat', sans-serif;
}
#navigation #nav_border{
   border-right: 1px solid black;
}
#navigation nav.navbar a{
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   letter-spacing: 3px;
   color:black;
}
#navigation nav img{
   width:185px;
}
#collapsible_navbar ul li .call-us{
   border-radius: 5px;
   border:1px solid black;
}
.fa-phone-volume{
   transform: rotate(-25deg);
}

@media screen and (max-width: 415px){

}

/*---------------------------------------
   | Header |
----------------------------------------*/
#header{
   padding-left: 0px;
   padding-right: 0px;
}
#header .container-fluid{
   position: relative;
   text-align: center;
   padding-left: 0px;
   padding-right: 0px;
}
#header .header-text{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-shadow: 2px 2px 3px #000000;
}
#header button{
   font-family: 'Montserrat', sans-serif;
   background: transparent;
   border: 2px solid white;
   color: white;
   width: 10em;
   padding: .5em 0;
   margin: 1em;
}
#header h3{
   font-family: 'Montserrat', sans-serif;
   font-size: 55px;
   font-weight: 700;
   color: #fff;
}
#header p{
   font-family: 'Montserrat', sans-serif;
   font-size: 25px;
   color: #fff;
}
#header img{
   width:100%;
   height:90vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
@media screen and (max-width: 415px){



}


/*---------------------------------------
   | About Section |
----------------------------------------*/
#about{
   padding-top: 80px;
   padding-bottom: 80px;
   padding-right: 0px;
   padding-left: 0px;
}
#about h1{
   font-family: 'Montserrat', sans-serif;
   color:#333;
   font-size: 50px;
   font-weight: 700;
   margin-bottom: 25px;
}
#subtitle_section{
   margin-bottom: 25px;
}
#subtitle_section p{
   font-family: 'Montserrat', sans-serif;
   text-align: justify;
   font-size: 22px;
}
#company_values_section h2{
   font-family: 'Montserrat', sans-serif;
   font-size: 40px;
}
#company_values_section p{
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   text-align: justify;
}

/*---------------------------------------
   | Services Section |
----------------------------------------*/
#services{
   padding-top: 80px;
   padding-bottom: 80px;
}
#services_header{
   margin-bottom: 25px;
}
#services_header h1{
   font-family: 'Montserrat', sans-serif;
   color:#333;
   font-size: 50px;
   font-weight: 700;
}
#services_header p{
   font-family: 'Montserrat', sans-serif;
   color: #000;
   font-size: 22px;
}
#services_content div{
   margin-bottom: 30px;
}
#services_content h5{
   font-family: 'Montserrat', sans-serif;
   margin-top: 10px;
   color: #333;
   font-weight: 700;
   font-size: 30px;
}
#services_content p{
   font-family: 'Montserrat', sans-serif;
   text-align: justify;
   color: #000;
   font-size: 22px;
}
#services_content i{
   color:#333;
}
@media screen and (max-width: 370px){

   /* #services .col-1{
      display: none;
   }
   #services #services_header h1{
      font-size: 30px;
   }
   #services #services_header p{
      font-size: 25px;
   } */
   /* #services #services_content i{
      font-size: 30px;
   }
   #services #services_content .col-3{
      display:list-item;
   } */
}

/*---------------------------------------
   | Portfolio |
----------------------------------------*/
#portfolio{
   padding-top: 80px;
   padding-bottom: 80px;
}
#portfolio img{
   width:100%;
}
#portfolio_header{
   margin-bottom: 30px;
}
#portfolio_header h1{
   font-family: 'Montserrat', sans-serif;
   font-size: 50px;
   font-weight: 700;
}

/*---------------------------------------
   | Pricing |
----------------------------------------*/
#pricing{
   padding-top: 80px;
   padding-bottom: 80px;
}
#pricing_header{
   margin-bottom: 30px;
}
#pricing_header h1{
   font-family: 'Montserrat', sans-serif;
   font-size: 50px;
   font-weight: 700;
}
#pricing .card{
   border:none;
}
#card_header_left{
   background-color:#47acdd;
   padding-top: 10px;
   padding-bottom: 10px;
}
#card_header_center{
   background-color:#47acdd;
   padding-top: 10px;
   padding-bottom: 10px;
}
#card_header_right{
   background-color:#47acdd;
   padding-top: 10px;
   padding-bottom: 10px;
}
#card_header_left h3{
   font-family: 'Montserrat', sans-serif;
   color:white;
   font-size: 35px;
}
#card_header_center h3{
   font-family: 'Montserrat', sans-serif;
   color:white;
   font-size: 35px;
}
#card_header_right h3{
   font-family: 'Montserrat', sans-serif;
   color:white;
   font-size: 35px;
}
#card_pricing_left{
   background-color: #eee;
   padding-top: 8px;
   padding-bottom: 8px;
}
#card_pricing_center{
   background-color: #eee;
   padding-top: 8px;
   padding-bottom: 8px;
}
#card_pricing_right{
   background-color: #eee;
   padding-top: 8px;
   padding-bottom: 8px;
}
#card_pricing_left p{
   font-family: 'Montserrat', sans-serif;
   font-size: 25px;
}
#card_pricing_center p{
   font-family: 'Montserrat', sans-serif;
   font-size: 25px;
}
#card_pricing_right p{
   font-family: 'Montserrat', sans-serif;
   font-size: 25px;
}
#card_content_left{
   border-left: 1px solid #eee;
   border-right: 1px solid #eee;
}
#card_content_center{
   border-left: 1px solid #eee;
   border-right: 1px solid #eee;
}
#card_content_right{
   border-left: 1px solid #eee;
   border-right: 1px solid #eee;
}
#card_content_left li{
   font-family: 'Montserrat', sans-serif;
   border-top: 1px solid #eee;
   font-size: 20px;
   padding-top: 8px;
   padding-bottom: 8px;
}
#card_content_center li{
   font-family: 'Montserrat', sans-serif;
   border-top: 1px solid #eee;
   font-size: 20px;
   padding-top: 8px;
   padding-bottom: 8px;
}
#card_content_right li{
   font-family: 'Montserrat', sans-serif;
   border-top: 1px solid #eee;
   font-size: 20px;
   padding-top: 8px;
   padding-bottom: 8px;
}
#card_footer_left{
   background-color:#eee;
   padding-top: 15px;
   padding-bottom: 15px;
}
#card_footer_center{
   background-color:#eee;
   padding-top: 15px;
   padding-bottom: 15px;
}
#card_footer_right{
   background-color:#eee;
   padding-top: 15px;
   padding-bottom: 15px;
}
#card_footer_left .btn{
   font-family: 'Montserrat', sans-serif;
   /* color:#033266;
   border-color:#033266; */
   color:#47acdd;
   border-color:#47acdd;
   font-size: 20px;
   transition: background-color 2s, color 2s;
}
#card_footer_left .btn:hover{
   color:white;
   background-color:#47acdd;
}
#card_footer_center .btn{
   font-family: 'Montserrat', sans-serif;
   color:#47acdd;
   border-color:#47acdd;
   font-size: 20px;
   transition: background-color 2s, color 2s;
}
#card_footer_center .btn:hover{
   color:white;
   background-color:#47acdd;
}
#card_footer_right .btn{
   font-family: 'Montserrat', sans-serif;
   color:#47acdd;
   border-color:#47acdd;
   font-size: 20px;
   transition: background-color 2s, color 2s;
}
#card_footer_right .btn:hover{
   color:white;
   background-color:#47acdd;
}

/*---------------------------------------
   | Contact |
----------------------------------------*/
#contact{
   padding-top: 80px;
   padding-bottom: 80px;
}
#contact_header{
   margin-bottom: 20px;
}
#contact_header h1{
   font-family: 'Montserrat', sans-serif;
   font-size: 50px;
   font-weight: 700;
}
#contact_header p{
   font-family: 'Montserrat', sans-serif;
   font-size: 22px;
}
#contact_content form{
   font-family: 'Montserrat', sans-serif;
}
#contact_content input{
   font-size: 20px;
}
#contact_content select{
   font-size: 20px;
}
#contact_content textarea{
   font-size: 20px;
}
#contact_content form .btn{
   font-family: 'Montserrat', sans-serif;
   color:#47acdd;
   border-color:#47acdd;
   transition: background-color 2s, color 2s;
   font-size: 20px;
}
#contact_content form .btn:hover{
   color:white;
   background-color: #47acdd;
}

/*---------------------------------------
   | Footer |
----------------------------------------*/
footer.container-fluid{
   padding-right: 0px;
   padding-left: 0px;
}
#footer_top{
   background-color: #eee;
   padding-top: 20px;
   padding-bottom: 5px;
   color:#333;
}
#footer_bottom{
   background-color: #333;
   padding-top: 20px;
   padding-bottom: 5px;
   color:white;
}
footer p{
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
}

@media screen and (max-width: 415px){




}
