html,body{
   width:100%;
   height:100%;
}
@media screen and (max-width: 415px){
   html,body{
      width:100%;
      height:100%;
      padding:none;
      margin:none;
      /* overflow-x: hidden; */
   }

}
/*---------------------------------------
   | Navigation |
----------------------------------------*/
#header{
   padding-left: 0px;
   padding-right: 0px;
}
#header .fixed-top{
   /* transition: all 0.3s; */
   padding-top: 0px;
   padding-bottom: 0px;
   background-color: rgba(0, 0, 0, 0.5);
}
#header nav.navbar a{
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   letter-spacing: 3px;
   color:white;
}
#header nav img{
   width:130px;
}

.header-text{
  position: absolute;
  width: 50%;
  top: 15%;
  left: 20px;
}
.header-text h2{
   color:#50A3CF;
   font-size: 30px;
   padding-bottom: 20px;
}
.header-text p{
   font-size: 14px !important;
   color: rgb(114, 110, 110);
   padding-bottom: 20px;

}
.header-text .btn{
   font-size: 30px;
   background: #50A3CF
}
#header_carousel h3{
   font-family: 'Montserrat', sans-serif;
   font-size: 55px;
}
#header_carousel p{
   font-family: 'Montserrat', sans-serif;
   font-size: 25px;
}
#header_carousel img{
   width:100%;
   max-height: 650px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
#header_carousel .carousel-item::before{
   content: '';
   background-color: rgba(0, 0, 0, 0.7);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
}
@media screen and (max-width: 415px){

   body #header #header_navbar{
      background-color: rgba(0, 0, 0, 0.5);
   }
   body #header #header_navbar img{
      width:80px;
   }
   #header_slideshow h3{
      font-size: 20px;
   }
   #header_slideshow p{
      font-size: 12px;
   }

}

/*---------------------------------------
   | Services |
----------------------------------------*/
#services{
   padding-top: 80px;
   padding-bottom: 80px;
}
#services_header{
   margin-bottom: 25px;
}
#services_header h1{
   font-family: 'Montserrat', sans-serif;
   color:#333;
   font-size: 50px;
}
#services_header p{
   font-family: 'Montserrat', sans-serif;
   color: #000;
   font-size: 20px;
}
#services_content h5{
   font-family: 'Montserrat', sans-serif;
   margin-top: 10px;
   color: #333;
   font-weight: bold;
   font-size: 22px;
}
#services_content p{
   font-family: 'Montserrat', sans-serif;
   text-align: justify;
   color: #000;
   font-size: 16px;
}
#services_content i{
   color:#033266;
}
@media screen and (max-width: 370px){

   /* #services .col-1{
      display: none;
   }
   #services #services_header h1{
      font-size: 30px;
   }
   #services #services_header p{
      font-size: 25px;
   } */
   /* #services #services_content i{
      font-size: 30px;
   }
   #services #services_content .col-3{
      display:list-item;
   } */
}

/*---------------------------------------
   | Portfolio |
----------------------------------------*/
#portfolio{
   padding-top: 80px;
   padding-bottom: 80px;
}
#portfolio img{
   width:100%;
}
#portfolio_header{
   margin-bottom: 25px;
}
#portfolio_header h1{
   font-family: 'Montserrat', sans-serif;
   font-size: 50px;
}

/*---------------------------------------
   | Pricing |
----------------------------------------*/
#pricing{
   padding-top: 80px;
   padding-bottom: 80px;
}
#pricing_header{
   margin-bottom: 30px;
}
#pricing_header h1{
   font-family: 'Montserrat', sans-serif;
   font-size: 50px;
}
#pricing .card{
   border:none;
}
#card_header_left{
   background-color:#033266;
   padding-top: 10px;
   padding-bottom: 10px;
}
#card_header_center{
   background-color:#50a3cf;
   padding-top: 10px;
   padding-bottom: 10px;
}
#card_header_right{
   background-color:#033266;
   padding-top: 10px;
   padding-bottom: 10px;
}
#card_header_left h3{
   font-family: 'Montserrat', sans-serif;
   color:white;
   font-size: 35px;
}
#card_header_center h3{
   font-family: 'Montserrat', sans-serif;
   color:white;
   font-size: 35px;
}
#card_header_right h3{
   font-family: 'Montserrat', sans-serif;
   color:white;
   font-size: 35px;
}
#card_pricing_left{
   background-color: #eee;
   padding-top: 8px;
   padding-bottom: 8px;
}
#card_pricing_center{
   background-color: #eee;
   padding-top: 8px;
   padding-bottom: 8px;
}
#card_pricing_right{
   background-color: #eee;
   padding-top: 8px;
   padding-bottom: 8px;
}
#card_pricing_left p{
   font-family: 'Montserrat', sans-serif;
   font-size: 25px;
}
#card_pricing_center p{
   font-family: 'Montserrat', sans-serif;
   font-size: 25px;
}
#card_pricing_right p{
   font-family: 'Montserrat', sans-serif;
   font-size: 25px;
}
#card_content_left{
   border-left: 1px solid #eee;
   border-right: 1px solid #eee;
}
#card_content_center{
   border-left: 1px solid #eee;
   border-right: 1px solid #eee;
}
#card_content_right{
   border-left: 1px solid #eee;
   border-right: 1px solid #eee;
}
#card_content_left li{
   font-family: 'Montserrat', sans-serif;
   border-top: 1px solid #eee;
   font-size: 20px;
   padding-top: 8px;
   padding-bottom: 8px;
}
#card_content_center li{
   font-family: 'Montserrat', sans-serif;
   border-top: 1px solid #eee;
   font-size: 20px;
   padding-top: 8px;
   padding-bottom: 8px;
}
#card_content_right li{
   font-family: 'Montserrat', sans-serif;
   border-top: 1px solid #eee;
   font-size: 20px;
   padding-top: 8px;
   padding-bottom: 8px;
}
#card_footer_left{
   background-color:#eee;
   padding-top: 15px;
   padding-bottom: 15px;
}
#card_footer_center{
   background-color:#eee;
   padding-top: 15px;
   padding-bottom: 15px;
}
#card_footer_right{
   background-color:#eee;
   padding-top: 15px;
   padding-bottom: 15px;
}
#card_footer_left .btn{
   font-family: 'Montserrat', sans-serif;
   color:#033266;
   border-color:#033266;
   font-size: 20px;
   transition: background-color 2s, color 2s;
}
#card_footer_left .btn:hover{
   color:white;
   background-color:#033266;
}
#card_footer_center .btn{
   font-family: 'Montserrat', sans-serif;
   color:#50a3cf;
   border-color:#50a3cf;
   font-size: 20px;
   transition: background-color 2s, color 2s;
}
#card_footer_center .btn:hover{
   color:white;
   background-color:#50a3cf;
}
#card_footer_right .btn{
   font-family: 'Montserrat', sans-serif;
   color:#033266;
   border-color:#033266;
   font-size: 20px;
   transition: background-color 2s, color 2s;
}
#card_footer_right .btn:hover{
   color:white;
   background-color:#033266;
}

/*---------------------------------------
   | Contact |
----------------------------------------*/
#contact{
   padding-top: 80px;
   padding-bottom: 80px;
}
#contact_header{
   margin-bottom: 20px;
}
#contact_header h1{
   font-family: 'Montserrat', sans-serif;
   font-size: 50px;
}
#contact_header p{
   font-family: 'Montserrat', sans-serif;
   font-size: 25px;
}
#contact_content form{
   font-family: 'Montserrat', sans-serif;
}
#contact_content input{
   font-size: 20px;
}
#contact_content form .btn{
   font-family: 'Montserrat', sans-serif;
   color:#50a3cf;
   border-color:#50a3cf;
   transition: background-color 2s, color 2s;
   font-size: 20px;
}
#contact_content form .btn:hover{
   color:white;
   background-color: #50a3cf;
}

/*---------------------------------------
   | Footer |
----------------------------------------*/
footer{
   background-color: #033266;
   padding-top: 20px;
   padding-bottom: 5px;
   color:white;
}
footer p{
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
}

@media screen and (max-width: 415px){

   .header-text{
      width: 90%;
      background: rgba(255, 255, 255, 0.351)
   }

   /* footer p{
      font-size: 10px;
   } */

}
